{% extends 'base.html' %}
{% block title %}
    Bill
{% endblock %}
{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>date</th>
        <th>action</th>
    </tr>
    <tr>
    </tr>
    {% for order in costomer_order}
    <td>{{order.name}}</td>
    <td>{{order.Quantity}}</td>
    <td>{{order.price}}</td>
    <td>{{order.date_created.date()}}</td>
    <td> <a href="">Delete</a>
        <a href="">update</a></td>
    {%endfor%}
    <tr>
        <td>Total</td>
    </tr>
</table>

<form action="/bill" method="POST">

    <input type="text" name="">

    
    
</form>

{% endblock %}