{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }} <br><br>
            <img class="mb-4" src="https://www.sitcoe.ac.in/images/logo.png" alt="SITCOE">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }} <br>
            {{ form.username(class="form-control", id="form2Example1", placeholder="User Name",style="width:30vw; display: table-cell") }} <br>

            {{ form.password.label() }} <br>
            {{ form.password(class="form-control" ,id="form2Example2", placeholder="Password",style="width:30vw; display: table-cell") }} <br>

            <br>


            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg  btn-primary") }}

        </form>
    </div>
</body>
<br><br><br> <br> <br> <br>
{% endblock %}