{% extends "base.html"%}

{% block title%}
  register page
{%endblock%}

{% block content%}
<body class="text-center" style="text-align: center; background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
 <br>
 <br>
<img src="https://www.sitcoe.ac.in/images/logo.png" alt="SITCOE">

 <h3 class="h3 mb-3 font-weight-normal" style="font-weight: bold;">Create your Account as Student</h3>

<div class="container">

 <form method="post" class="form-register" style=" color: white; ">
  {{ form.hidden_tag()}} <!-- it will protect from attack from hakkers by generating some tokens-->

   {{ form.PRN.label()}} <br>
  {{form.PRN(class="form-control",placeholder="PRN" ,style="width:30vw; display: table-cell")}} <br>
  {{ form.username.label()}} <br>
  {{form.username(class="form-control",placeholder="username",style="width:30vw; display: table-cell;")}} <br>
  {{ form.password1.label()}} <br>
  {{form.password1(class="form-control",placeholder="Password",style="width:30vw; display: table-cell;")}} <br>
  {{ form.password2.label()}} <br>
  {{form.password2(class="form-control",placeholder=" Comfirm your Password",style="width:30vw; display: table-cell;")}} <br>

  <br>
  <div class="checkbox mb-3">
    <h6>Already have an account?</h6>
    <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
 </div>
  {{ form.submit(class="btn btn-lg btn-primary")}}
</form>

</div>

</body>
<br><br>
 {%endblock%}
 

